*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to top,rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/2479883/pexels-photo-2479883.jpeg?auto=compress&cs=tinysrgb&w=1600) no-repeat center/cover;
}
#weather{
    width: 350px;
    border-radius: 10px;
    padding: 30px 20px;
    background: url(https://images.pexels.com/photos/2479883/pexels-photo-2479883.jpeg?auto=compress&cs=tinysrgb&w=1600) no-repeat center/cover;
}

.search{
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0 15px 0 15px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    transition: border-radius 0.3s ease;
    font-size: 18px;
}
.search:focus{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px 0 15px 0;
}
.content{
    text-align: center;
    color:white;
    margin: 40px 0 20px;
    transition: 0.5s ease-in-out;
}
.capital{
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
} 
.time{
    margin-bottom: 20px  ;
    font-size: 15px;
}
.temperature{
    font-size: 65px;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    margin: 0 30px;
    padding: 20px;
}
.short-desc{
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin: 30px;
}
.more-desc{
    display: flex;
    justify-content: space-around;
}
.more-desc>div{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.more-desc div i{
    margin: 8px 0;
}
.content.hiden{
    display: none;
    transition: 0.5s ease-in-out;
}
.err h3{
    color: rgb(255, 255, 255);
    padding: 20px 0;
}